<template x-component="email-option">
    <div class="p-5">
        <div class="col-10 mx-auto p-5 d-flex flex-column align-items-center rounded-12" :class=" $prop('bg')">
            <h2 class="fw-500 fs-32 text-center col-6 mx-auto lh-49 mb-5" x-text="$prop('title')"></h2>
            <div class="d-flex mx-auto justify-content-center w-100">
                <input type="text" placeholder="Enter your email"
                    class="centered-placeholder rounded-start col-5 rounded-end-0 p-2 border-0">
                <button id="start-trial-button"
                    class="btn-primary-custom rounded-end rounded-start-0 text-capitalize bg-brand-2 px-md-4 px-2">Start
                    free trial</button>
            </div>
        </div>
    </div>
</template>