<template x-component="features">
    <div class="p-md-5 p-3" :class="$prop('bg')" x-data="$api.init()">
        <h2 class="fw-500 fs-32 text-center lh-72 mb-5" x-text="$prop('title')"></h2>
        <div class="d-md-flex d-grid grid-2 justify-content-center gap-2 mb-5">
            <template x-for="(feature, index) in features" :key="index">
                <div class="d-flex gap-2 align-items-center">
                    <div class="form-checkbox-wrapper" x-data="utils()">
                        <div @click="check=!check"
                            class="p-1 rounded-2 d-flex justify-content-center align-items-center "
                            :class="check ? $prop('checkboxBg'): 'bg-white border'">
                            <img src="../assests/images/mark.svg" alt="mark">
                        </div>
                    </div>
                    <span x-text="feature.label" class="ml-1 body-small-font-size px-2 py-1 bg-white rounded-pill"
                        :class="$prop('color')"></span>
                </div>
            </template>
        </div>
        <div class="features-grid gap-4 col-md-11 mx-auto">
            <template x-for="(feature, index) in features" :key="index">
                <div class="p-4 bg-white rounded-12 shadow-md">
                    <div class="d-flex mb-3 align-items-center gap-2">
                        <img :src="feature.icon" :alt="feature.title" class="w-8 h-8 mr-2">
                        <span x-text="feature.title" class="body-large-font-size lh-32 fw-400"></span>
                    </div>
                    <p x-text="feature.description" class="body-medium-font-size fw-400 lh-32"></p>
                </div>
            </template>
        </div>
    </div>
    <script>
        return {
            init() {
                return {
                    features: this.$prop('features') || []
                };
            }
        };
    </script>
</template>