<template x-component="footer">
    <div class="footer">
        <div class="col-10 mx-auto text-grey-4 text-xs">
            <div class="d-md-flex justify-content-between">
                <div
                    class="col-lg-4 col-md-5 d-grid d-md-block justify-content-center align-items-center gap-3 gap-md-0 ">
                    <img src="../assests/images/casherp logo.svg" alt="logo" class="logo">
                    <p class="body-xs-font-size lh-22 fw-400 my-4 d-none d-md-block text-white col-md-10">An All-In-One
                        tools to manage
                        people,
                        projects, and everything in between. Invoicing, Purchasing, HRM, CRM, Project, Manufacturing &
                        POS</p>
                    <div class="d-flex gap-3">
                        <div class="bg-white d-flex justify-content-center align-items-center rounded-pill"
                            style="padding: .3rem;">
                            <img src="../assests/images/facebook.svg" alt="facebook-icon">
                        </div>
                        <div class="bg-white d-flex justify-content-center align-items-center rounded-pill"
                            style="padding: .3rem;">
                            <img src="../assests/images/twitter.svg" alt="twitter-icon">
                        </div>
                    </div>
                </div>
                <div class="d-md-flex col-md-6 col-12 justify-content-between text-center-sm">
                    <div class="mt-4 mt-md-0">
                        <span class="text-white body-medium-font-size fw-500 fs-sm-14 ">Features</span>
                        <div
                            class="list-unstyled text-grey-1 lh-22 cursor-pointer body-small-font-size fw-500 fs-sm-12">
                            <li><a href="../pages/accounting.html">Accounting</a></li>
                            <li><a href="../pages/invoice.html">Invoicing</a></li>
                            <li><a href="../pages/purchase.html">Purchase Management</a></li>
                            <li><a href="../pages/hr-management.html">Recruitment Management</a></li>
                            <li><a href="../pages/asset.html">Assets Management</a></li>
                            <li><a href="../pages/fleet-management.html">Fleet Management</a></li>
                            <li><a href="../pages/file-share.html">File Sharing</a></li>
                            <li><a href="">Advisors</a></li>
                        </div>
                    </div>
                    <div class="mt-4 mt-md-0">
                        <span class="text-white body-medium-font-size fw-500 fs-sm-14">Casherp</span>
                        <div class="list-unstyled text-grey-1 cursor-pointer body-small-font-size fw-500 fs-sm-12">
                            <li><a href="../pages/about.html">About Us</a></li>
                            <li><a href="../pages/contact.html">Contact Us</a></li>
                            <li><a href="">Careers</a></li>
                        </div>
                    </div>
                    <div class="mt-4 mt-md-0">
                        <span class="text-white body-medium-font-size fw-500 fs-sm-14">Quick Links</span>
                        <div class="list-unstyled text-grey-1 cursor-pointer body-small-font-size fw-500 fs-sm-12">
                            <li><a href="../index.html">Home</a></li>
                            <li><a href="../pages/pricing.html">Pricing</a></li>
                            <li><a href="../pages/knowledge.html">FAQ</a></li>
                            <li><a href="">How support works</a></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="row body-small-font-size fs-sm-12">
                <div class="col-md-9 text-center text-md-start  mb-3 mb-md-0">
                    <p class="mb-0 text-grey-1">Copyright &copy; 2024 Casherp</p>
                </div>
                <div class="col-md-3 text-center text-md-end">
                    <div class="d-md-flex d-block text-grey-1 mb-0 list-unstyled">
                        <li class="mx-2"><a href="">Terms of Use</a></li>
                        <li class="mx-2"><a href="">Privacy Policy</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>