<template x-component="footer">
    <footer class="footer">
        <div class="container text-grey-4 text-xs">
            <div class="d-md-flex justify-content-center">
                <div
                    class="col-lg-4 col-md-5 d-grid d-md-block justify-content-center align-items-center gap-3 gap-md-0 ">
                    <img src="./assests/images/casherp logo.svg" alt="logo" class="logo">
                    <p class="body-xs-font-size lh-22 fw-400 my-4 d-none d-md-block text-white col-md-10">An All-In-One
                        tools to manage
                        people,
                        projects, and everything in between. Invoicing, Purchasing, HRM, CRM, Project, Manufacturing &
                        POS</p>
                    <div class="d-flex gap-3">
                        <div class="bg-white d-flex justify-content-center align-items-center rounded-pill"
                            style="padding: .3rem;">
                            <img src="../assests/images/facebook.svg" alt="">
                        </div>
                        <div class="bg-white d-flex justify-content-center align-items-center rounded-pill"
                            style="padding: .3rem;">
                            <img src="../assests/images/twitter.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="d-md-flex col-md-6 col-12 justify-content-between text-center-sm">
                    <div class="mt-4 mt-md-0">
                        <span class="text-white body-medium-font-size fw-500 fs-sm-14 ">Features</span>
                        <div
                            class="list-unstyled text-grey-1 lh-22 cursor-pointer body-small-font-size fw-500 fs-sm-12">
                            <li><a>Accounting</a></li>
                            <li><a>Invoicing</a></li>
                            <li><a>Purchase Management</a></li>
                            <li><a>Recruitment Management</a></li>
                            <li><a>Assets Management</a></li>
                            <li><a>Fleet Management</a></li>
                            <li><a>File Sharing</a></li>
                            <li><a>Advisors</a></li>
                        </div>
                    </div>
                    <div class="mt-4 mt-md-0">
                        <span class="text-white body-medium-font-size fw-500 fs-sm-14">Casherp</span>
                        <div class="list-unstyled text-grey-1 cursor-pointer body-small-font-size fw-500 fs-sm-12">
                            <li><a>About Us</a></li>
                            <li><a>Contact Us</a></li>
                            <li><a>Careers</a></li>
                        </div>
                    </div>
                    <div class="mt-4 mt-md-0">
                        <span class="text-white body-medium-font-size fw-500 fs-sm-14">Quick Links</span>
                        <div class="list-unstyled text-grey-1 cursor-pointer body-small-font-size fw-500 fs-sm-12">
                            <li><a>Home</a></li>
                            <li><a>Pricing</a></li>
                            <li><a>FAQ</a></li>
                            <li><a>How support works</a></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="row body-small-font-size fs-sm-12">
                <div class="col-md-9 text-center text-md-start  mb-3 mb-md-0">
                    <p class="mb-0 text-grey-1">&copy; 2024 Casherp</p>
                </div>
                <div class="col-md-3 text-center text-md-end">
                    <div class="d-md-flex d-block text-grey-1 mb-0 list-unstyled">
                        <li class="mx-2"><a>Terms of Use</a></li>
                        <li class="mx-2"><a>Privacy Policy</a></li>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>