<template x-component="footer">
    <footer class="footer">
        <div class="container text-grey-4 text-xs">
            <div class="d-md-flex d-grid justify-content-between">
                <div class="col-lg-4 col-md-5">
                    <img src="./assests/images/casherp logo.svg" alt="logo" class="">
                    <p class="body-xs-font-size lh-22 fw-400 my-4 text-white col-md-10">An All-In-One tools to manage
                        people,
                        projects, and everything in between. Invoicing, Purchasing, HRM, CRM, Project, Manufacturing &
                        POS</p>
                    <div class="d-flex gap-4">
                        <div class="bg-white p-2 rounded-pill">
                            <img src="../assests/images/facebook.svg" alt="">
                        </div>
                        <div class="bg-white p-2 rounded-pill">
                            <img src="../assests/images/twitter.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="d-flex col-md-6 col-12 justify-content-between">
                    <div class="">
                        <span class="text-white body-medium-font-size fw-500 ">Features</span>
                        <div class="list-unstyled text-grey-1 lh-22 cursor-pointer body-small-font-size fw-500">
                            <li><a>Accounting</a></li>
                            <li><a>Invoicing</a></li>
                            <li><a>Purchase Management</a></li>
                            <li><a>Recruitment Management</a></li>
                            <li><a>Assets Management</a></li>
                            <li><a>Fleet Management</a></li>
                            <li><a>File Sharing</a></li>
                            <li><a>Advisors</a></li>
                        </div>
                    </div>
                    <div class="">
                        <span class="text-white body-medium-font-size fw-500">Casherp</span>
                        <div class="list-unstyled text-grey-1 cursor-pointer body-small-font-size fw-500">
                            <li><a>About Us</a></li>
                            <li><a>Contact Us</a></li>
                            <li><a>Careers</a></li>
                        </div>
                    </div>
                    <div class="">
                        <span class="text-white body-medium-font-size fw-500">Quick Links</span>
                        <div class="list-unstyled text-grey-1 cursor-pointer body-small-font-size fw-500">
                            <li><a>Home</a></li>
                            <li><a>Pricing</a></li>
                            <li><a>FAQ</a></li>
                            <li><a>How support works</a></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="row body-small-font-size">
                <div class="col-md-6 text-center text-md-start  mb-3 mb-md-0">
                    <p class="mb-0 text-grey-1">&copy; 2024 Casherp</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="list-inline text-grey-1 mb-0">
                        <ili class="list-inline-item mx-2"><a>Terms of Use</a></ili>
                        <ili class="list-inline-item mx-2"><a>Privacy Policy</a></ili>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>