<template x-component="hero">
    <div class="d-grid gap-4 hero-bg position-relative" x-data="$api.init()" :class="$prop('bg')">
        <div class="d-flex col-11 flex-column  mx-auto justify-content-center position-relative mt-5 gap-4">
            <span class="title-large-font-size-bold lh-72 fw-500 text-black text-center"
                x-text="$prop('hero-title')"></span>
            <span class=" title-medium-font-size lh-36 fw-400 smd:text-center text-black col-md-6 col-10 mx-auto"
                x-text="$prop('hero-description')"></span>
            <img src="../assests/images/hero-background.svg" alt="" class="hero-background-svg end-0">

            <img src="../assests/images/hero-background.svg" alt="" class="hero-background-svg start-0">

            <div class="d-flex justify-content-center col-5 mx-auto mt-4">
                <input type="text" placeholder="Enter your email"
                    class="flex-grow-1 mx-md-0 mx-auto centered-placeholder rounded-start rounded-end-0 p-2 border-0">
                <button id="start-trial-button"
                    class="btn-primary-custom rounded-end rounded-start-0 text-capitalize bg-brand-2 px-4 py-2 py-md-0">Start
                    free trial</button>
            </div>

        </div>
        <div class="d-flex justify-content-center align-items-center position-relative hero-image" :class="$prop('bg')">
            <img :src="$prop('hero-img')" alt="" class=" d-none d-md-flex position-absolute">
        </div>
        <div class="bg-white hero-footer" x-show="heroFooter"></div>
    </div>
    <script>
        return {
            init() {
                return {
                    heroTitle: this.$prop('hero-image'),
                    heroFooter: this.$prop('heroFooter') || true,
                }
            }
        }
    </script>
</template>