<template x-component="top-nav">
    <div class="top-nav position-fixed bg-white top-0 w-100 py-3 border-bottom">
        <div class="d-flex mx-auto col-11 justify-content-between" x-data="utils()">
            <img src="./assests/images/casherp logo 2.svg" alt="logo" class="logo" />
            <div class="d-flex ">
                <div class="d-flex d-md-none gap-2">
                    <button id="start-trial-button "
                        class="btn-primary-custom rounded-6 p-0 text-capitalize body-small-font-size fw-500 bg-brand-2 px-3">
                        Start Free Trial
                    </button>
                    <button id="hamburger-btn" class="px-1 border-0 btn-secondary-custom" @click="hamburger=!hamburger">
                        ☰
                    </button>
                </div>
                <div class="d-md-flex position-relative nav-items gap-md-5"
                    :class="{'d-none': !hamburger, 'position-absolute start-0 bg-white p-2  justify-content-center align-items-center mt-4 w-100 d-grid gap-3': hamburger && window.innerWidth < 768}">
                    <div class="d-flex gap-1 gap-md-5 align-items-center">
                        <button @click="feautureOpen=!feautureOpen" class="btn-tertiary-custom px-2 fw-500">
                            <span>Features</span>
                            <img src="./assests/images/Arrows (1).svg" alt="" class=""
                                :class="feautureOpen ?'': 'rotate-180' " />
                        </button>

                        <div x-show="feautureOpen" @click.away="feautureOpen=false"
                            class="features-dropdown position-absolute bg-white col-md-7 col-11 rounded-3 px-4">
                            <div class="d-grid grid-2 gap-3 justify-content-between pt-3">
                                <div class="body-medium-font-size fw-500 border-bottom">
                                    <a href="../invoice.html">
                                        <span class="body-medium-font-size fw-500 text-blue-1">Invoicing</span>
                                        <p class="feature-description text-grey-4 body-xs-font-size fw-400">
                                            Quick, Easy Billing
                                        </p>
                                        <div class="feature-divider"></div>
                                    </a>
                                </div>
                                <div class="body-medium-font-size fw-500 border-bottom">
                                    <a href="../asset.html">
                                        <span class="feature-title text-blue-1">Assets Management</span>
                                        <p class="feature-description text-grey-4 body-xs-font-size fw-400">
                                            Optimize Asset Utilization
                                        </p>
                                        <div class="feature-divider"></div>
                                    </a>
                                </div>
                                <div class="body-medium-font-size fw-500 border-bottom">
                                    <a href="../accounting.html">
                                        <span class="feature-title text-blue-1">Accounting</span>
                                        <p class="feature-description text-grey-4 body-xs-font-size fw-400">
                                            Accurate Financial Tracking
                                        </p>
                                        <div class="feature-divider"></div>
                                    </a>
                                </div>
                                <div class="body-medium-font-size fw-500 border-bottom">
                                    <a href="../purchase.html">
                                        <span class="feature-title text-blue-1">Purchase Management</span>
                                        <p class="feature-description text-grey-4 body-xs-font-size fw-400">
                                            Fast, Secure Sharing
                                        </p>
                                        <div class="feature-divider"></div>
                                    </a>
                                </div>
                                <div class="body-medium-font-size fw-500 border-bottom">
                                    <a href="../hr-management.html">
                                        <span class="feature-title text-blue-1">HR Management</span>
                                        <p class="feature-description text-grey-4 body-xs-font-size fw-400">
                                            Efficient Talent Acquisition
                                        </p>
                                        <div class="feature-divider"></div>
                                    </a>
                                </div>
                                <div class="body-medium-font-size fw-500 border-bottom">
                                    <a href="../fleet-management.html">
                                        <span class="feature-title text-blue-1">Fleet Management</span>
                                        <p class="feature-description text-grey-4 body-xs-font-size fw-400">
                                            Vehicles Management System
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <button class="btn-tertiary-custom px-2 fw-500">Pricing</button>
                        <button class="btn-tertiary-custom px-2 fw-500">Blog</button>
                        <div class="">
                            <button @click="reasourcesOpen=!reasourcesOpen" class="btn-tertiary-custom px-2 fw-500">
                                <span>Reasources</span>
                                <img src="./assests/images/Arrows (1).svg" alt="" class=""
                                    :class="reasourcesOpen ?'': 'rotate-180' " />
                            </button>

                            <div x-show="reasourcesOpen" @click.away="reasourcesOpen=false"
                                class="resources-dropdown rounded-3 bg-white position-absolute">
                                <div class="resource-item p-2 px-3 border-top">
                                    <span class="resource-title text-blue-1">About Us</span>
                                </div>

                                <div class="resource-item p-2 px-3 border-top">
                                    <span class="resource-title text-blue-1">Knowledge Base</span>
                                </div>
                                <div class="resource-item p-2 px-3 border-top">
                                    <span class="resource-title text-blue-1">Become an Affiliate</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mx-auto gap-4 ml-md-2">
                        <button id="login-button"
                            class="rounded-6 border-2 text-brand-2 body-small-font-size fw-500 fs-sm-6 bg-transparent border-brand-2 p-0 px-3">
                            Log In
                        </button>
                        <button id="start-trial-button "
                            class="btn-primary-custom rounded-6 d-md-block d-none p-0 text-capitalize body-small-font-size fw-500 bg-brand-2 px-3">
                            Start Free Trial
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>