<template x-component="trial">

    <div class="bg-green-4 p-md-5 p-3">
        <div
            class="d-md-flex d-grid justify-content-center align-items-center mt-5 gap-5 col-md-10 col-12 mx-auto h-[650px]">
            <div
                class="position-relative top-10 d-flex flex-column gap-5 text-center items-center justify-center col-md-6 col-12">
                <span class="text-2xl font-medium capitalize body-large-font-size">Your success starts
                    here—let's take the next
                    step together</span>
                <span class="w-10/12 text-gray-800 leading-loose title-medium-font-size">Discover the
                    powerful features that
                    streamline every aspect of your business, from customer management to financial tracking, so you
                    can focus on scaling your success faster than ever before
                </span>
                <span class="">Try our platform free for 14 days and experience all its
                    features</span>
                <div class="">
                    <button id="start-trial-button"
                        class=" btn btn-primary-custom text-capitalize bg-brand-2 px-md-4 px-2"><span>Start
                            free
                            trial</span>
                        <img src="./assests/images/Frame (10).svg" alt=""></button>
                </div>

            </div>
            <div class="position-relative col-md-4 justify-content-end p-5">
                <img src="./assests/images/Group.png" alt="" class="z-100 my-5 ">
                <img src="./assests/images/trial.svg" alt="" class="position-absolute end-0 top-0">
            </div>
        </div>
    </div>
</template>