/* button */
.btn-primary-custom {
    border: none;
    color: white;
}

.btn-secondary-custom {
    background-color: transparent;
    color: black;
}

.btn-tertiary-custom {
    background-color: transparent;
    border: none;
    color: black;
}

/* hero */
.hero {
    gap: 0px;
    opacity: 0px;
    background: var(--linear-3);
    position: relative;
    top: 60px;
}

.hero-title {
    font-size: 52px;
    font-weight: 600;
    line-height: 72px;
    text-align: left;
}

.hero-des {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

.text-center {
    text-align: center;
}

/* border-radius */
.rounded-6 {
    border-radius: 6px;
}

.rounded-12 {
    border-radius: 12px;
}

.rounded-16 {
    border-radius: 16px;
}

.rounded-24 {
    border-radius: 24px;
}

.rounded-56 {
    border-radius: 56px;
}

/* line-height */
.lh-22 {
    line-height: 22px;
}

.lh-24 {
    line-height: 24px;
}

.lh-28 {
    line-height: 28px;
}

.lh-32 {
    line-height: 32px;
}

.lh-36 {
    line-height: 36px;
}

.lh-49 {
    line-height: 49px;
}
.lh-72{
    line-height: 72px;

}
/* font-weight */
.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.text-xs {
    font-size: 12px;
}


/* font-size */
.title-large-font-size {
    text-align: center;
    font-size: 32px;

}

.text-justify {
    text-align: justify;
}

.title-large-font-size-bold {
    font-size: 32px;
}

.title-medium-font-size {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}

.heading-large-font-size {
    font-size: 52px;
}

.heading-small-font-size {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
}

.body-large-font-size {
    font-size: 22px;
    text-align: center;

}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-28{
    font-size: 28px;
}
.fs-24{
    font-size: 24px;
}
.fs-32{
    font-size: 32px;
}
.fs-36{
    font-size: 36px;
}

.body-large-font-size-light {
    font-size: 22px;
    line-height: 32px;
    text-align: center;

}

.body-small-font-size {
    font-size: 14px;
}

.body-xs-font-size {
    font-size: 12px;
}

.body-medium-font-size {
    font-size: 16px;
}

/* utils */
.grid-2 {
    grid-template-columns: 1fr 1fr;
}

.btn-end {
    display: grid;
    justify-content: end;
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-90 {
    transform: rotate(90deg);
}

.z-100 {
    position: relative;
    z-index: 99;
}

.justify-content-end {
    justify-content: end;
    display: flex;
}

.footer {
    font-family: "Montserrat";
    background-color: #0A1B29;
    padding: 40px 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-icons i {
    font-size: 24px;
    margin-right: 15px;
}

.footer .line {
    border-top: 2px solid #3A4750;
    margin: 20px 0;
}

.footer .bottom-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-unstyled li {
    padding: 8px 0;
}
.features-dropdown{
    right: 30em;
}
.features-dropdown, .resources-dropdown {
    top: 3.6em;
}

.centered-placeholder {
    text-align: center;
}

/* Change the placeholder color */
.centered-placeholder::placeholder {
    color: var(--deep-black);
    font-size: 18px;
}

.shadow-box {
    box-shadow: 0px 1px 3px 1px #00000026;
    box-shadow: 0px 1px 2px 0px #0000004D;

}

.transition {
    transition: all 0.2s ease-out;
}
.invoice-hero{
    position: relative;
    top: 5rem;
}
.hero-footer{
    height: 23em;
}

.hero-background-svg{
    width: 150px;
    position: absolute;
    top: 2em;

}
.features-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.hero-bg{
    margin-top: 4.4rem;
}
.hero-image{
    height: 8rem;
}

.hero-image img{
    top:1rem;
}
.flip-horizontal {
    transform: scaleX(-1);
}
.quotation{
    top: 20px;
}
.quotation-flip{
    left: 70px;
    bottom: 50px;
}
.active-orange{
    border-top: 3px solid var(--orange);
}
.active-yellow{
    border-top: 3px solid var(--yellow-1);
}
.active-green{
    border-top: 3px solid var(--green-1);
}
.profile-img{
    width: 80%;
}